<html>
<head>
    <meta charset="utf-8"> 
    <title>Submit Your Request</title>
    {% load static %}
    <!-- Loading bootstrap, fonts, icons, the google api, the barstyle, and general style -->
    <link  rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="https://kit.fontawesome.com/b7cdb1395c.js" crossorigin="anonymous"></script>    
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'barStyle.css'%}">
   
</head>

<body>
    <!-- Search bar -->
    <div class="bar">
        <a class="title" href="/website/MainPage.html">Back to Main</a>
        <a href="/website/DispatcherLogin.html">Dispatcher Login</a>
        <a href="/website/aboutAlg.html">About the algorithm</a>
        <a href="/website/busRoutes.html">Bus Routes</a>
        <a class ="active" href="/users/login.html">Logout</a>
    </div>

    <h1>You Have Successfully Deleted The Selected Request!</h1>
    <a href="/website/UserRequestPage.html">
    <button class="btn btn-success btn-lg"><i class="fas fa-backward"></i>  Go Back</button>
    </a>

</body>