<!DOCTYPE html>
<html>
    <head>
        <title>Index</title>
        <style>
            div{
                
                padding: 3em;
                background-color: #f44336;
                color: rgb(253, 253, 253);
                text-align: center;
                margin-left: 30%;
                margin-right: 30%;
                margin-top: 20%;
                font-size: 50px;
            }
        </style>
    </head>
    <body>
        <a href="MainPage.html" style="text-decoration:none"><div class="dc">Go To The Main Page</div></a>
    </body>
</html>