<!DOCTYPE html>
<html lang="en"></html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'barStyle.css'%}">
    <link rel="stylesheet" href="{% static 'MainPage.css'%}">
    <Title>Final Product</Title>
</head>

<body>
    <div class="bar">
        <a class="title" href="">Dial a Ride Algorithm</a>
        <a  href="DispatcherLogin.html">Dispatcher Login</a>
        <a href="aboutAlg.html">About the algorithm</a>
        <a href="busRoutes.html">Bus Routes</a>
        <a href="/users/login.html">Login</a>
    </div>
   
    <h1 class="p1">Need a</h1>
    <h1 class = "p2">Lift?</h1>
    <h5 class = "p3">Just a click away from reserving your next ride</h5>

    </div>  

</body>



</html>