<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="DispatcherStyle.css">
    <link rel="stylesheet" href="Table.css">
    <title>Request List</title>
    
</head>
<body>
    <ul>
        <li><a href="MainPage.html">Main Page</a></li>
        <li><a href="RequestPage.html">View All The Requests</a></li>
        <li><a href="simulation.html">Run Simulation</a></li>
        <li><a href="#Arrange">Get Schedule</a></li>
      </ul>
      <p></p>
  
    <h2>Existing Requests:</h2>
    <table class = "tableContent" id="table">
        <thead>
            <th>Request #</th>
            <th>Starting Position</th>
            <th>Finishing Position</th>
            <th>Pick Up Time</th>
            <th></th>
        </thead>
       <tbody> 
            <tr>
            </tr>        
            </tbody>
    </table>
  
    <button class="submitButton">Simulate</button>

  <script src="Table.js"> </script>
</body>

</html>