<!DOCTYPE html>
<!-- Need to style this page -->
<html>
    <style>
        
        .traveler{
            position: relative;
            margin:0%;
            width: 10%;
            height:10%;
            
        }
        #btn{
            margin-top: 3%;
            margin-left:1%;
            width: 98%;
        }
        #btn2{
            margin-left: 1%;
            width: 98%;
            
        }
        /* Removes the black box */
        #box{
            background: white;
        }
        
    </style>
    <head>
        <title>User Page</title>
        {% load static %}
        <!-- Loading bootstrap, fonts, icons, the google api, the barstyle, and general style -->
        <link  rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <script src="https://kit.fontawesome.com/b7cdb1395c.js" crossorigin="anonymous"></script>    
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="stylesheet" href="{% static 'barStyle.css'%}">
    </head>

    <body>
         <!-- Search bar -->
        <div class="bar">
            <a class="title" href="/website/MainPage.html">Back to Main</a>
            <a href="/website/DispatcherLogin.html">Dispatcher Login</a>
            <a href="/website/aboutAlg.html">About the algorithm</a>
            <a href="/website/busRoutes.html">Bus Routes</a>
            <a class ="active" href="/users/login.html">Logout</a>
        </div>
        <h1>Welcome, {{ request.user }}</h1>

        <a  href="/website/UserRequestPage.html" id = "box"><button id= "btn2"class="btn btn-success btn-lg"><i class="fas fa-eye"></i>  View My Request   <i class="fas fa-eye"></i></button></a>
        <br>

        <a href="/website/form_page.html"><button id = "btn" class="btn btn-success btn-lg">Reserve a Request   <i class="far fa-arrow-alt-circle-right"></i></button></a>
        <br>

        <img src="/static/traveler.png" class="traveler" >
        <img src="/static/traveler.png" class="traveler" >
        <img src="/static/traveler.png" class="traveler" >
        <img src="/static/traveler.png" class="traveler" >
        <img src="/static/traveler.png" class="traveler" >
        <img src="/static/traveler.png" class="traveler" >
        <img src="/static/traveler.png" class="traveler" >
        <img src="/static/traveler.png" class="traveler" >
        <img src="/static/traveler.png" class="traveler" > 


        <br>        
        
        <!-- class=" " onclick="calcRoute();">Submit Request<i class="far fa-paper-plane"></i></button> -->

        
    </body>
</html>