<!-- 
  A simple form that allows a user to register in the database. Takes in:
  username, email adress, password, first/last name. 
  Once the user has registered, they can login as normal

  To do on this page:
  -Style to make consistent with rest
  -Add a button that allows user to return to login page when they have completed the registration process
 -->

{% extends "users/base.html" %}
{% load static %}

{% block body_block %}
  <div class="container">
    <div class="jumbotron">
      {% if registered %}
        <h1>Thank you for registering!</h1>
      {% else %}
        <h1>Register Here</h1>
        <h3>Just fill out the form.</h3>

        <form enctype="multipart/form-data" method="POST">
          {% csrf_token %}
          {{ user_form.as_p }}
          {{ profile_form.as_p }}
          <input type="submit" name="" value="Register">
        </form>

      {% endif %}

    </div>

    <!-- NEED TO ADD A GO TO MY PAGE BUTTON AFTER A USER REGISTERS -->

  </div>

{% endblock %}
